main.card {
    margin: 1em;
    padding: 1em;
    background-image: url("../assets/pink.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 121px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main.detailcard {
    margin: 1em;
    padding: 1em;
    background-image: url("../assets/pink.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 363px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.buttons {
    display: flex;
    justify-content: space-around;
}

button.left, button.right, button.trash, button.pencil{
    margin: 0.05em;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
button.left {
    margin-top: 0.8em;
    background-image: url("../assets/arrow-left.png");
}
button.right{
    margin-top: 0.3em;
    background-image: url("../assets/arrow-right.png");
}
button.trash{
    background-image: url("../assets/trash.png");
    background-position: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
button.pencil{
    background-image: url("../assets/pensil.png");
    background-position: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}